body {
    background:  url(../img/cover.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hide{
    display: none;
}
#addStory{
    margin: 10px;
}