.novel-container {
	display: none;
    padding: 20px;
}
.anthology-containter {
	display: none;
    padding: 20px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 30%;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 5px;
