.buttons {
    margin-bottom: 20px;
}

#bookTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#bookTable td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#bookTable tr:nth-child(even) {
    background-color: #dddddd;
}